
.sc-welcome-message{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.s-signinout{
  background-color: whitesmoke ;
  width: 25rem;
  height: 17rem;
  position: absolute;
  right: 2%;
  top: 4rem;
  border-radius: 1rem;
  border: 2px solid rgb(203, 202, 202);
}
.btn-warning{
  width: 60%;
  margin-left: 5rem;
}
.s-sign-login
{
  padding-top: 1rem;
}
.s-like-btn{
  width: 60%;
  margin-left: 8rem;
}
.s-sign-ul
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 9rem;
}
.s-sign-ul li{
  list-style: none;
}
.s-sign-a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.s-sign-a:hover{
text-decoration: underline;
}


/* Mobile */
@media screen and (max-width: 600px) {
  .s-signinout{
    width: 18rem;
  right: 15%;

  }
  .s-sign-a{
    font-size: 1rem;
  }
  .s-like-btn{
    margin-left: 4rem;
    }
  .btn-warning{
    margin-left: 4.5rem;
  }
  .mobile-nav{
          /* display: block; */
          background-color: #0C356A;
          width: 100%;
          height: 5.3rem;
          position: fixed;
          top: 0%;
  }
  .desktop-nav{
    display: none;
  }

  .s-mobile-header{
    height: 3rem;
    background-color: #0C356A;
  }
  /* Nav List */
  .s-mob-nav-1{
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  /* logo */
  
  .s-logo img{
    position: relative;
    height: 3rem;
    width: 8.5rem;
  }

  ol, ul {
    padding-left: 0.5rem;
}
  

  /* cart */
  .s-cart,
  .s-cart img{
    width: 2.5rem;
    height: 2.5rem;
  }
  .s-cart img{
    padding-top: 0.6rem;

  }
  .s-cart{
    border-radius: 2rem;
    margin-right: 1rem;
  }
  .s-user,
  .s-user img{
    width: 2.4rem;
    height: 2.1rem;
    
  }
  .s-user{
    padding-top: 0.6rem;
    margin-right: 0.0rem;
    margin-left: 9rem;
  }
  .s-user:hover,
  .s-cart:hover{
    cursor: pointer;
  }


  .s-mobile-search{
    height: 2.5rem;
  }
 
  /* Form  */

  .s-form-list
  {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
  .s-form{
    width: 100%;
    justify-content: center;

  }
  .s-input{
    height: 2rem;
    width: 80%;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    border: none;
    outline: none;
  }
  .s-search-button{
    width: 3rem;
    height: 2rem;
    border-radius:0 5px 5px 0;

  }
  .s-search-button:hover{
    cursor: pointer;
  } 
  
}



/* tab */
@media screen and (min-width: 601px) {


  .mobile-nav{
    display: none;
    }
    .desktop-nav{
        top: 0%;
        display: block;
        position: fixed;
        width: 100%;  
        height: 5rem;
        background-color: #0C356A;
        /* background-color: rgb(227, 227, 226); */
      }

      /* Nav list */
      .s-nav-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
      }

      /* logo */
      .s-logo,
      .s-logo img{
        width: 12rem;
        height: 4rem;
      }
      /* cart */
      .s-cart,
      .s-cart img{
        width: 4rem;
        height: 3rem;
      }
      .s-cart{
        margin-top: 0.5rem;
        border-radius: 2rem;
        margin-right: 2rem;
      }
      .s-user,
      .s-user img{
        width: 3.5rem;
        height: 3.5rem;
        
      }
      .s-user{
        padding-top: 0.5rem;
        margin-right: 0.5rem;
      }
      .s-user:hover,
      .s-cart:hover{
        cursor: pointer;
      }

      /* Form  */

      .s-form-list
      {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
      }
      .s-form{
        width: 100%;
        justify-content: center;
      }
      .s-input{
        height: 3rem;
        width: 70%;
        border-radius: 3rem 0 0 3rem;
        text-decoration: none;
        border: none;
        outline: none;
      }
      .s-search-button{
        width: 3rem;
        height: 3rem;
        border-radius:0 3rem 3rem 0;
      }
      .s-search-button:hover{
        cursor: pointer;
      } 
    }