.navbar {
display: flex;
justify-content: space-between;
align-items: center;
height: 4rem;
}

/* Adjust the spacing between elements in the navigation bar */
.navbar-brand {
margin-right: 1rem;
}

/* Center align the search input and button */
.form-inline {
display: flex;
align-items: center;
}

/* Move the sign-in/sign-out and welcome elements to the right */
.ml-auto {
margin-left: auto;
}

/* Optional: Add some padding to the navbar */
.navbar {
padding: 10px;
} 




@media screen and (max-width: 500px) {

  /* body */

  .s-nav-body{
    width: 5rem;
    overflow: visible;

  }

  /* components */
  .s-input{
    width: 7rem;
  }
  .s-button{
    width: 3rem;
  }
  .s-right-div{
    display: none;
  }
  .s-welcome{
    display: none;
  }
  .s-form{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .s-navbar-brand{
    display: none;
  }

}