<app-search></app-search>
<!-- Buttons -->
    <!-- Menu Button -->
    <div class="menu-button">
        <div (click)="menubarButton()">
        <svg width="44" height="44" xmlns="http://www.w3.org/2000/svg" class="cont-1-fc">
            <image id="p-menu-icon" xlink:href='https://www.svgrepo.com/show/532195/menu.svg' width="44" height="44"/>
        </svg>
        </div>
    </div>
    <!-- Cart Button -->
    <div class="cart-button">
        <div routerLink="/viewcart">
        <svg width="44" height="44" xmlns="http://www.w3.org/2000/svg" class="cont-1-fc">
            <image id="p-menu-icon" xlink:href='https://www.svgrepo.com/show/491926/shopping-color-cart-modern.svg' width="44" height="44"/>
        </svg>
        </div>
    </div>
<!-- ------------------- -->
<!-- Overall Container -->

<div class="overall-container">
<div id="p-side-bar-elem" class="side-bar">
    <app-product-category ></app-product-category>
</div>

<div class="container-custom cnt" >
    <div class="card-collection">
     <div  *ngFor="let product of products">
        <div routerLink="/singleprod/{{ product.sku }}"
        routerLinkActive="active-link" class="main-card-1">                
            <div class="main-card">
                <div class="image-card">
                    <!-- <img class="p-image" src="/assets/image/wallpaper.jpg" alt="Card image cap"> -->                      
                    <img class="p-image" src="https://placehold.co/200x200">
                </div>
                <div class="child-card">
                    <div class="">
                    <div class="name-cont">
                        <h4 class="p-description">{{ product.description }}</h4>
                    </div>
                    <h6 class="p-name">{{ product.name }}</h6>
                    <h4 class="p-price">${{ product.unitPrice}}</h4>
                    <p class="p-unitsinstock">available : {{product.unitsInStock}}</p>
                    <div class="offer"></div>
                    <div class="p-replacement">7 Day Service Center Replacement</div>
                </div>
                    <div class="d-flex justify-content-between">
                    <!-- <a href="#" class="btn btn-warning mr-auto">Like</a> -->
                    <a routerLink="/singleprod/{{ product.sku }}" class="btn btn-primary p-view"
                        routerLinkActive="active-link">View</a>
                    </div>
                </div>
            </div>
            <div class="p-line"></div>
        </div>
    </div>

    </div>

    <div *ngIf="products?.length === 0" role="alert">
        <div>
            No Products Found
        </div>
        <a href="javascript:history.back();history.back()">Go Back</a>
    </div>
</div>
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>