/* Default styles */
.main-card {
    width: 20rem;
  }
  
  /* Styles for screens up to 500px wide */
  @media screen and (max-width: 500px) {
    .card-collection {
      display: block;
    }
    .main-card {
      display: flex;
    }
    .name-cont {
      overflow: hidden;
    }
    .image-card {
      width: 20rem;
      height: 18rem;
      margin: 0;
      border-left: 0;
      display: block;
      overflow: hidden;
    }
    .p-image {
      width: 21rem;
      height: auto;
      margin: auto;
      border-left: 0;
    }
  }
  
  /* Styles for screens between 501px and 800px wide */
  @media screen and (min-width: 501px) and (max-width: 700px) {
    .container-custom {
      margin-top: 5rem;
    }
    .card-collection {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-left: 15%;
      overflow-x: visible;
      width: 80%;
    }
    .name-cont {
      width: 15rem;
      height: 3.9rem;
      overflow-x: visible;
      overflow-y: hidden;
    }
    .main-card-1 {
      margin-top: 0.7rem;
      width: 2rem;
    }
    /* Additional styles specific to this breakpoint */
  }
  
  /* Styles for screens between 801px and 1106px wide */
  @media screen and (min-width: 701px) and (max-width: 900px) {
    .container-custom {
      margin-top: 5rem;
    }
    .card-collection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 15%;
      overflow-x: visible;
      width: 80%;
    }
    .name-cont {
      width: 15rem;
      height: 3.9rem;
      overflow-x: visible;
      overflow-y: hidden;
    }
    .main-card-1 {
      margin-top: 0.7rem;
      width: 2rem;
    }
    /* Additional styles specific to this breakpoint */
  }
  
  /* Styles for screens 1107px and wider */
  @media screen and (min-width: 901px) and (max-width:1200px) {
    .container-custom {
      margin-top: 5rem;
    }
    .card-collection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 15%;
      overflow-x: visible;
      width: 80%;
    }
    .name-cont {
      width: 15rem;
      height: 3.9rem;
      overflow-x: visible;
      overflow-y: hidden;
    }
    .main-card-1 {
      margin-top: 0.7rem;
      width: 2rem;
    }
    /* Additional styles specific to this breakpoint */
  }
  
  @media screen and (min-width:1201px) and (max-width: 1500px) {
    .container-custom {
      margin-top: 5rem;
    }
    .card-collection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 15%;
      overflow-x: visible;
      width: 80%;
    }
    .name-cont {
      width: 15rem;
      height: 3.9rem;
      overflow-x: visible;
      overflow-y: hidden;
    }
    .main-card-1 {
      margin-top: 0.7rem;
      width: 2rem;
    }
    /* Additional styles specific to this breakpoint */
  }
  

  @media screen and (min-width: 1500px) {
    .container-custom {
      margin-top: 5rem;
    }
    .card-collection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-left: 15%;
      overflow-x: visible;
      width: 80%;
    }
    .name-cont {
      width: 15rem;
      height: 3.9rem;
      overflow-x: visible;
      overflow-y: hidden;
    }
    .main-card-1 {
      margin-top: 0.7rem;
      width: 2rem;
    }
    /* Additional styles specific to this breakpoint */
  }
  