<footer class="footer-main">

    <div href="#menu-button" class="back-to-top"><div class="bc-text">Back To Top</div></div>
    <div class="footer-section-1">
        <div class="get-to-know-us">
            <ul>
                <li class="f-sec-1-head">Get To Know Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Press Releases</li>
                <li> Science</li>
            </ul>
        </div>
        <div class="connect-with-us">
            <ul>
                <li class="f-sec-1-head">Connect With Us</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>

        </div>
        <div class="our-services">
            <ul>
                <li class="f-sec-1-head">Our Services</li>
                <li>Sell on Amazon</li>
                <li>Protect and Build Your Brand</li>
                <li>Advertise Your Products</li>
                <li>Pay on Merchants  </li>
            </ul>

        </div>
        <div class="let-us-help-you">

            <ul>
                <li class="f-sec-1-head">Let Us Help You</li>
                <li>Your Account</li>
                <li>Returns Centre</li>
                <li>100% Purchase Protection</li>
                <li>Help</li>
            </ul>

        </div>
    </div>
    <hr style="color: aliceblue;">
    <div class="footer-section-2">
        <div class="f-logo">
            <div class="s-logo">
                <!-- <img src="https://imgs.search.brave.com/eYzQ9plpbExvJ00alT8NZ7zaOnQnCChMIgHuPGY_s-I/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9yZXMu/Y2xvdWRpbmFyeS5j/b20vemVuYnVzaW5l/c3MvcV9hdXRvL3Yx/L2xvZ2FzdGVyL2xv/Z2FzdGVyLTIwMjAt/MDgtaC13YWxtYXJ0/LTkuanBn"> -->
                <img src="/assets/image/walmart.png">
            </div>
        </div>
        <div class="available-places">
           
            <ul>
                <li>Australia</li>
                <li>Brazil</li>
                <li>Canada</li>
                <li>China</li>
                <li>France</li>
                <li>Germany</li>
                <li>Italy</li>
                <li>Japan</li>
                <li>Mexico</li>
                <li>Netherlands</li>
                <li>Poland</li>
                <li>Singapore</li>
                <li>Spain</li>
                <li>Turkey</li>
                <li>UAE</li>
                <li>UK</li>
                <li>USA</li>
            </ul>
        </div>
        
    </div>
    <div class="footer-section-3">
        <div class="copy-right">
            <div> &copy; 2023 J-Mart. All rights reserved.</div>
        </div>
    
    </div>
   
</footer>