<!-- <app-navigation></app-navigation> -->
<div class="admin-home-container">
    <div class="ah-content">
        <div class="ah-card" [routerLink]="['/addproduct']" style="cursor: pointer">
            <div class="ah-add-content">
                <div class="ah-head">
                    <h5 style="margin: 0;font-weight: bold;">ADD PRODUCT</h5>
                </div>
                <div class="ah-body">
                    <img src="https://placehold.co/200x200" alt="placeholder image">
                </div>
                <div class="ah-description">
                    <p>Manage your products by adding new ones to your catalog.</p>
                </div>
                <div>
                    <button class="ah-button">Add Product</button>
                </div>
            </div>
        </div>
        <div class="ah-card" [routerLink]="['/editproduct']" style="cursor: pointer">
            <div class="ah-add-content">
                <div class="ah-head">
                    <h5 style="margin: 0;font-weight: bold;">UPDATE PRODUCT</h5>
                </div>
                <div class="ah-body">
                    <img src="https://placehold.co/200x200" alt="placeholder image">
                </div>
                <div class="ah-description">
                    <p>Edit and update existing product information in your catalog.</p>
                </div>
                <div>
                    <button class="ah-button">Update Product</button>
                </div>
            </div>
        </div>
        <div class="ah-card" [routerLink]="['/addcategory']" style="cursor: pointer">
            <div class="ah-add-content">
                <div class="ah-head">
                    <h5 style="margin: 0; font-weight: bold;">ADD CATEGORY</h5>
                </div>
                <div class="ah-body">
                    <img src="https://placehold.co/200x200" alt="placeholder image">
                </div>
                <div class="ah-description">
                    <p>Create new categories to organize your products effectively.</p>
                </div>
                <div>
                    <button routerLink="/login" class="ah-button" >Add Category</button>
                </div>
            </div>
        </div>
    </div>
</div>
