
/* Global */


  .pc-overall-container{
  background-color: aqua;
    width: 1fr;
    position: fixed;
  }
    .pc-link :hover,
    .pc-link:active,
    .pc-link{
        text-decoration: none;
    
    }
    .pc-link-p{
        font-size: 1.2rem;
        font-weight:bold;
        margin-bottom:1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 3rem;
    }
    .pc-link-p:hover{
        /* background-color: rgb(211, 211, 211); */
        cursor: pointer;
        font-weight: bolder;
        
    }


  .navbar-list{
    /* background-color: blanchedalmond; */
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 3.4rem;
  }

/* Globall */
  @media screen and (max-width: 500px) {
    .pc-overall-container{
        /* left: -100%; */
        /* position: fixed; */
    }
  }
 
  @media screen and (max-width:600px) {
    .pc-overall-container{
        width: 15%;
        overflow-x: visible;
        padding-left: 3rem;
        padding-right: 3rem;   
    }
  }
  @media screen and (min-width: 601px) and (max-width: 899px) {
    .pc-overall-container{
        width: 27%;
        overflow-x: visible;
        padding-left: 1rem;
        padding-right: 1rem;  

    }

  }
  @media screen and (min-width: 900px) and (max-width: 1300px) {

    .pc-overall-container{
        width: 20%;
        overflow-x: visible;
        padding-left: 1rem;
        padding-right: 1rem;   

    }
  }
  @media screen and (min-width: 1301px) and (max-width:1600px) {
    .pc-overall-container{
        width: 18%;
        overflow-x: visible;
        padding-left: 1rem;
        padding-right: 1rem;  

    }
  }
  @media screen and (min-width:1601px) and (max-width: 1800px) {

    .pc-overall-container{
        width: 17%;
        overflow-x: visible;
        padding-left: 1rem;
        padding-right: 1rem;   

    }


}

  @media screen and (min-width: 1801px) {

    .pc-overall-container{
        width: 1fr;
        overflow-x: visible;
        padding-left: 3rem;
        padding-right: 3rem;   

        
    }
  .navbar-list{

  }
    
}