<div class="pc-overall-container" id="categorynavid">
    <button id="closeButton" class="btn btn-primary btn-sm mb-3">Close</button>
    <ul class="list-unstyled navbar-list">
        <li *ngFor="let tempProductCategory of productCategories">
               <div class="pc-link-p" routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link" >
                   <a class="pc-link">
                       {{ tempProductCategory.name }}
                    </a>
                
               </div>
        </li>
    </ul>
</div>
