body {
    font-family: Arial, sans-serif;
}
.container {
    margin: 0px;
}
.product-details {
    display: flex;
    justify-content: space-between;
}
.product-image {
    display: flex;
    width: 20rem;
    height: 20rem;
}
.product-info {
    flex: 2;
    padding-left: 2rem;
}
.cart-buttons {
    text-align: center;
    margin-top: 2rem;
    margin-right: 15rem;
}
.add-button,
.remove-button {
  background: none;
  border: none;
}

.add-button i,
.remove-button i {
  background: none;
}
.cart-buttons {
    display: flex;
    align-items: center;
    
  }

.cart-buttons button {
    font-size: xx-large;
}
  

.app-search{
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 100;
}
@media screen and (min-width: 1000px) {
    .custom-container {
        margin-left: 5rem;
    }
    .cart-buttons {
        margin-left: 22rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
}

@media screen and (max-width: 767px) {
    .custom-container {
        margin-top: 5rem; 
    }
    .product-image {
        margin-left: 0px;
        margin-bottom: 1.25rem;
        padding-left: 12px;
        max-width: 90%;
        height: auto;
    }
    .product-info {
        padding-left: 12px;
    }
    .cart-buttons {
        margin-left: 8rem;
        margin-top: 0px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center; /* Center the cart buttons horizontally */
    }
    .cart-buttons button {
        font-size: 42px ;
    }
}
