<nav>
  <app-search></app-search>
  
</nav>
<div style="margin-left: 5rem; margin-right: 5rem;"> 
  <div class="row "  >
      <div class="col-1 ml-4 mr-1 " style= "margin-top: 4rem;" id="catid">
            <app-product-category></app-product-category>
      </div>
      <div class="col-10" style="margin-top: 4rem;">
        
        <div class="container">
          <div class="product-details">
              <div class="product-image">
                  <img src="/assets/image/wallpaper.jpg" alt="Product Image">
              </div>
              <div class="card-body product-info">
                  <h2 class="card-title">{{ products[0].name }}</h2>
                  <p class="card-text"><strong>SKU:</strong> {{ products[0].sku }}</p>
                  <p class="card-text"><strong>Description:</strong> {{ products[0].description }}</p>
                  <p class="card-text"><strong>Price:</strong> {{ products[0].unitPrice | currency }}</p>
                  <p class="card-text"><strong>Active:</strong> {{ products[0].active ? 'Yes' : 'No' }}</p>
                  <p class="card-text"><strong>Units in Stock:</strong> {{ products[0].unitsInStock }}</p>
                  <p class="card-text"><strong>Date Created:</strong> {{ products[0].dateCreated | date }}</p>
                  <p class="card-text"><strong>Last Updated:</strong> {{ products[0].lastUpdated | date }}</p>
                  <a href="javascript:history.back()">Go Back</a>
                      </div>
          </div>
          <div class="cart-buttons">
              <button class="add-button">+</button>
              <span>1</span>
              <button class="remove-button">-</button>
          </div>
          <!-- Recommended Product Section -->
              <!-- to place similar products on the right side  -->
      </div>
  <router-outlet></router-outlet>