.custom-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.product-image{
    padding-left: 3rem;
}
.product-info{
    padding-top: 3rem;
    padding-left: 6rem;

}
.vp-add{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}
.vp-buttons{
    width: 3rem;
    height: 3rem;
}
.vp-count{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}
.vp-btn{
    text-decoration: none;
    border: none;
    background: none;
}   
.vp-go-back{
    text-decoration: none;
}
.vp-btn-gb{
    width: 3rem;
    margin-bottom: 3rem;
}
@media screen and (max-width:1000px) {
    .custom-container{
        width: 99%;
        margin-top: 20%;
        padding-top: 10%;

    }
    .vp-itemcont{
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-fluid{
    }
    .product-image{
        padding-left: 1rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .vp-add
    {
        width: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .product-info{
        padding-top: 3rem;
       padding-left: 2rem;
    }
}
@media screen and (min-width:1001px) {
    .vp-itemcont{
        display: flex;

    }
}
