<body>
    <div class="container">
        <h1 class="c-title">A2J - MART</h1>
        <div *ngFor="let product of products; let i = index">
            <div class="cart-item">
               
                <img class="product-image" src="https://placehold.co/180x180" alt="Product 1">
                <div class="product-details">
                    <p class="product-name">{{product.name}}</p>
                    <p class="product-description">{{product.description}}</p>
                    <p class="product-price">{{product.unitPrice}}</p>
                    <div class="product-count">
                        <button type="button" class="btn btn-secondary" (click)="onRemoveOneButtonClick(i)">-</button>
                        <span class="count-value">{{counts[i]}}</span>
                        <button type="button" class="btn btn-secondary" (click)="onAddOneButtonClick(i)">+</button>
                    </div>
                </div>
                <div class="remove-product">
                    <button type="button" class="btn btn-danger" (click)="onRemoveButtonClick(i)">Remove</button>
                </div>
            </div>
        </div>
        <div *ngIf="products?.length == 0" class="alert alert-warning" role="alert">
            <div class="c-no-product">Your Cart Is Empty</div>
            <button class="btn btn-primary c-goback"><a href="javascript:history.back()" style="text-decoration: none; color: white;">Go Back</a> </button> 
        </div>
        <div class="cart-total card-last" *ngIf="products?.length != 0">
            <a href="javascript:history.back()" type="button" class="btn btn-primary mr-4 go-back">Go Back</a>
            <div>
                <p>Total: {{total}} Rs</p>
                <button type="button" routerLink="checkout" class="btn btn-primary">Checkout</button>
            </div>

        </div>
    </div>
</body>
